<nlog xmlns="http://www.nlog-project.org/schEmailas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchEmaila-instance" >
	<targets>
		<target xsi:type="Console" name="Console"
				layout="${time} ${level:uppercase=true}: ${message}" />
	</targets>
	<rules>
		<logger name="*" minlevel="INFO" writeTo="Console" />
	</rules>
</nlog>
