<nlog xmlns="http://www.nlog-project.org/schEmailas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchEmaila-instance" >

  <variable name="LogfileDirectory" value="${baseDir}\Logs" />
  <variable name="LogfileName" value="cleanSolution" />
  <variable name="LogfileExt" value="Log" />

  <targets>

    <target name="Logfile" xsi:type="File"
            fileName="${LogfileDirectory}\${LogfileName}.${LogfileExt}"
            createDirs="true" archiveFileName="${LogfileDirectory}\${LogfileName}.{#}.${LogfileExt}" archiveEvery="Day"
            archiveNumbering="Rolling" maxArchiveFiles="30"
            layout="${longdate}|${level:uppercase=true:padding=-5}|${threadid:padding=4}|${logger:padding=-15}|${message}|${onexception:${NewLine}EXCEPTION\:${exception:format=tostring}}" />
    
    <target xsi:type="ColoredConsole" name="ColoredConsole"
            useDefaultRowHighlightingRules ="true"
            layout="${time} ${level:uppercase=true}(${threadid}): ${message}" >
    <highlight-row condition="level == LogLevel.Info" foregroundColor="DarkYellow"/>
    </target> 
    
    <target xsi:type="ColoredConsole" name="CommandConsole" layout="${message}" />
    
    <!-- <target xsi:type="Debugger" name="DebugConsole" -->
    <!--         useDefaultRowHighlightingRules ="true" -->
    <!--         layout="${time} ${level:uppercase=true}(${threadid}): ${message}" /> -->


    <target xsi:type="Console" name="Console"
            layout="${time} ${level:uppercase=true}(${threadid}): ${message}" />

    <!-- write to the void aka just remove -->
    <target xsi:type="Null" name="blackhole" />
  </targets>

  <rules>
    <logger name="*" minlevel="DEBUG" writeTo="Logfile" /> 
    <logger name="Console" minlevel="Info" writeTo="CommandConsole" final="true" />
    <logger name="*" minlevel="Info" maxLevel="Warn" writeTo="CommandConsole" />
  </rules>

</nlog>
